<h1>Вход в блокнотик</h1>
<?= $_SESSION['message']; ?>
<form action="" method="post" class="reg">
	<div class="form-group">
		<label for="login">Введите логин</label><br>
		<input type="text" id="login" name="login" value="<?= $login ?>" required>			
	</div>
	<div class="form-group">
		<label for="password">Введите пароль</label><br>
		<input type="password" id="password" name="password" required>			
	</div>
	<div class="form-group">
		<input type="submit" name="Войти">			
	</div>
</form>
</div>	
</body>
</html>